body{
    background-color: #EEE;
    font-family: Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}

h1, h2, h3, h4{
    margin: 0;
}
#CONTAINER {
    border: 1px solid black;
    background-color: white;
    width:800px;
    margin-left: auto;
    margin-right:auto;
}

#header{
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}
#content{
    padding: 10px 10px 10px 10px;         /* padding: top px  right px  bottom left px  */
    
}

#nav{
    width: 179px;
    border: 1px solid black;
    float: left;
}
#nav .selected{
    font-weight: bold;
}
#nav ul{
    list-style-type: none;
    padding: 0;
}


#main{
    width: 590px;
    border: 1px solid black;
    float: right;
    }

#footer{
    background-color: #999999;
    padding: 5px;
    clear: both;
    color: white;
    text-align: right;
}